.header {
    background-color: #0066CC;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}

.header .menu-icon, .header .profile-icon {
    font-size: 24px;
    cursor: pointer;
}

/* Style pour la barre latérale */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0066CC;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #74baff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.form-group.button-group {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Assure que le footer est en bas de la page */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}